body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 40px;
    background-image: url(imagens/ClHIhwtWIAAMJCD.jpg-large.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: #000000;
}

p {
    color: #494949;
}
